@mixin button-styles($background, $color, $padding, $border-radius) {
   background-color: $background;
   color: $color;
   padding: $padding;
   border-radius: $border-radius;
   border: none;
   text-align: center;
   font-family: $font-family;
}

.orange-btn {
   @include button-styles($orange, $font-color, 8px 24px, 8px);
   height: 40px;
   width: auto; /* Change from fixed width to auto */
   font-size: 16px; /* Adjust font size for mobile */
   padding: 8px 16px;
   font-variation-settings: 'wght' 700, 'CNTR' 0;
   cursor: pointer;
}

.cta {
   @include button-styles($orange, $font-color, 8px 24px, 8px);
   height: 48px;
   font-variation-settings: 'wght' 700, 'CNTR' 0;
   font-size: 20px;
   text-transform: uppercase;
   letter-spacing: 0.03em;
   cursor: pointer;
}

.flex-btn {
   display: flex;
   width: 36px;
   height: 14px;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   background-color: white;
   border: none;
   cursor: pointer;
   z-index: 100;
   margin-right: 15px;
}

@media (min-width: 1024px) {
   .orange-btn {
      font-size: 18px; /* Increase font size on larger screens */
      padding: 12px 24px;
   }
}
