.card-section {
   margin: 1em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.text-container h1 {
   text-align: center;
   color: #1c1c1c;

   font-family: Thunder;
   font-size: 32px;
   font-variation-settings: 'wght' 700, 'CNTR' 0;
   line-height: normal;
   letter-spacing: 0.03em;
}

.text-container p {
   font-family: Manrope;
   font-size: 1em;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   margin-bottom: 40px;
   max-width: 550px;
   margin-inline: auto;
   margin-bottom: 60px;
}

.card {
   display: flex;
   flex-direction: column;
   border-radius: 16px;
   text-align: center;
   background-color: $sandy;
   padding: 24px;
   margin-bottom: 24px;
   max-width: 448px;
}

.card-title {
   color: $dark-blue;
   font-family: Thunder;
   font-size: 48px;
   font-variation-settings: 'wght' 700, 'CNTR' 0;
   font-style: italic;
   margin-bottom: 8px;
   margin-top: 0;
}

.card-text {
   font-family: Manrope;
   font-size: 1em;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 40px;
}

.card-text span {
   color: $orange;
   font-weight: bold;
}

.image-container {
   background-color: $light-blue;
   height: 150px;
   border-radius: 10px;
}

.card:nth-child(4) {
   margin-bottom: 80px;
}

.card:nth-child(2) .image-container {
   background-color: $light-blue;
}

.card:nth-child(3) .image-container {
   background-color: white;
}

.card:nth-child(4) .image-container {
   background-color: $dark-blue;
}

#megaphone {
   position: relative;
   top: -45px;
}

#buildings {
   position: relative;
   top: -13px;
}

#ballot {
   position: relative;
   top: -38px;
}

@media (min-width: 1024px) {
   .cards-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: center;
   }

   .card {
      width: 400px;
      height: 385px;
   }

   .image-container {
      margin-top: auto;
   }

   .card-section {
      display: block;
   }
}
