.cta-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: $sandy;
   height: 500px;
   // width: calc(100% - 32px);
   padding: 24px;
   margin-inline: 16px;
   border-radius: 16px;
   position: relative;
   margin-bottom: 100px;
}

.cta-card h1 {
   color: $dark-blue;
   text-align: center;
   font-family: Thunder;
   font-size: 64px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 16px;
   z-index: 1;
}

.cta-card p {
   color: $black;
   text-align: center;
   font-family: Manrope;
   font-size: 22px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 32px;
   z-index: 1;
}

.cta-card svg {
   position: absolute;
   width: 100%;
   height: 100%;
}

@media (min-width: 1024px) {
   .cta-card {
      width: calc(100% - 64px);
      height: 420px;
      overflow: hidden;
      box-sizing: border-box;
      margin-inline: 32px;
   }

   .cta-card svg {
      width: 100%;
   }

   .cta-card p {
      margin-top: 0;
      font-size: 24px;
   }
}
