.how-section {
   background-color: white;
   margin-bottom: 200px;
}

.how-text-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 150px;
}

.how-title {
   margin-top: 55px;
   margin-bottom: 16px;
   color: $black;
   font-family: Thunder;
   font-size: 48px;
   font-weight: 600;
}

.how-subtitle {
   margin: 0 10px 40px 10px;
   text-align: center;
   color: $black;
   font-family: Manrope;
   font-size: 20px;
   font-weight: 400;
   max-width: 550px;
}

.how-container {
   margin-bottom: 230px;
   position: relative;

   // Modifier for left-aligned content
   &.left-aligned .how-info {
      text-align: left;
   }

   // Modifier for right-aligned content
   &.right-aligned .how-info {
      text-align: right;

      svg {
         left: unset;
         right: 0; // Aligns the SVG to the right
         height: 288px;
         width: auto;
      }

      h1 {
         margin-left: unset;
         margin-right: 16px; // Adjusts the title margin
      }

      img {
         margin: 0 16px;
      }

      p {
         margin: 0px 16px 16px 50px;
      }
   }

   // Modifier for orange text
   &.orange-text h1 {
      color: $orange;
   }

   &.lightblue-text h1 {
      color: $light-blue;
   }

   &.small-bottom-margin {
      margin-bottom: 80px;
   }
}

.how-info {
   display: flex;
   flex-direction: column;
   position: relative;

   svg {
      position: absolute;
      top: -140px;
      left: 0;
      height: 288px;
      width: auto;
   }

   h1,
   p {
      position: relative;
   }

   h1 {
      color: $dark-blue;
      font-family: Thunder;
      font-size: 60px;
      font-style: italic;
      font-weight: 700;
      line-height: 100%;
      margin: 0;
      margin-left: 16px;
   }

   p {
      color: $black;
      font-family: Manrope;
      font-size: 24px;
      margin: 0px 16px 16px 16px;
      font-weight: 400;
   }
}

.how-container img {
   margin: 0;
   z-index: 1;
   border-radius: 16px;
   width: 100%;
   height: auto;
   object-fit: cover;
}

.image-wrapper {
   position: relative;
   display: block; /* Ensure it's a block-level element */
   margin: 0 auto;
   overflow: hidden;
   margin: 0 16px;
   border-radius: 16px;
   aspect-ratio: 3 / 2; /* For a 3:2 aspect ratio */
   max-width: 100%; /* Ensure it doesn't exceed the container width */
}

.image-wrapper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   border-radius: 16px; /* Apply border-radius here if needed */
}

@media (min-width: 1024px) {
   .how-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 50px; /* Adjusted gap for better scaling */
   }

   .how-container img {
      max-width: 590px;
      width: 100%;
      object-fit: cover;
   }

   .image-wrapper {
      max-width: 590px;
      margin: 0 32px;
      aspect-ratio: 1 / 1;
   }

   .image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .how-text-container {
      margin-bottom: 100px;
   }

   .how-title {
      font-size: 64px;
   }

   .how-subtitle {
      max-width: 550px;
      font-size: 24px;
   }

   .how-info {
      max-width: 640px;
      margin-left: 50px; /* Reduced margin for better scaling */
      h1 {
         font-size: 100px; /* Adjust font size for scalability */
         width: 100%;
      }

      p {
         width: 100%;
         max-width: 405px;
      }

      svg {
         position: absolute;
         left: -15%;
         top: -200px;
         height: 590px;
         width: auto;
      }
   }

   .how-container .how-info,
   .how-container .image-wrapper {
      flex: 1 1 50%;
   }

   /* Adjustments for the right-aligned container */
   .how-container.right-aligned {
      flex-direction: row-reverse;
      margin-left: 5vw;
   }
   .how-container.right-aligned .how-info {
      margin-left: 0;
      margin-right: 50px; /* Adjusted for symmetry */
   }

   .how-container.right-aligned .how-info svg {
      height: 590px;
      width: auto;
      right: -7%;
   }

   .how-container.right-aligned .how-info p {
      text-align: left;
      margin: 0px 16px 16px 16px;
   }

   .how-container.right-aligned .how-info h1 {
      text-align: left;
   }

   .how-container.left-aligned {
      margin-right: 5vw;
   }
}
