nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75vw;
}

.logo {
   width: 130px;
   height: 30px;
}

.nav-btn-container {
   background-color: white;
   border-radius: 10px;
   display: flex;
   width: 150px;
   padding: 4px;
   align-items: center;
   gap: 4px;
   flex-shrink: 0;
   z-index: 100; /* Higher z-index to stay on top of the menu */
}

@media (min-width: 1024px) {
   nav {
      width: 90vw;
      margin-top: 12px;
   }
}
