/* Navbar Styles */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 95%;
   margin: 0 auto; /* Center the nav bar */
   padding: 16px 0; /* Add vertical padding */
   position: relative;
   z-index: 1000; /* Keep nav above other elements */
}

.logo {
   width: 130px;
   height: auto;
}

.nav-btn-container {
   background-color: white;
   border-radius: 10px;
   display: flex;
   padding: 4px;
   align-items: center;
   gap: 4px;
   flex-shrink: 0;
   z-index: 1000;
   width: auto;
   position: relative; /* Default position */
}

/* Desktop Adjustments */
@media (min-width: 1024px) {
   .logo {
      width: 150px;
      height: auto;
   }

   .nav-btn-container {
      position: fixed;
      top: 28px;
      right: 25px;
      z-index: 1000;
   }
}
