:root {
   --active-width: 55%;
   --inactive-width: 22.5%; /* (100% - 55%) / (2 inactive pillars) */
}

.pillar-title-container {
   padding: 40px 0px;
   text-align: center;
   color: $black;
}

.pillar-title-container h1 {
   margin: 0px 40px 16px 40px;

   font-family: Thunder;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.pillar-title-container p {
   margin: 0px 50px;

   font-family: Manrope;
   font-size: 22px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.pillar-carousel {
   display: flex;
   flex-direction: row;
   overflow-x: auto;
   overflow-y: hidden;
   scroll-snap-type: x mandatory;
   gap: 16px;
   padding-left: 16px;
   margin: 0 16px 24px 16px;
}

.pillar-card {
   flex: 0 0 calc(100% - 40px);
   scroll-snap-align: center;
   background-color: $sandy;
   position: relative;

   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   height: 400px;
   width: 340px;
   padding: 0;
   border-radius: 16px;
}

.pillar-carousel::-webkit-scrollbar {
   display: none; // Hide scrollbar for better appearance
}

.pillar-card svg {
   position: absolute;
   top: 10%;
   bottom: 0;
   right: 0;
   width: 50%;
   height: auto;
}

.pillar-card:nth-of-type(2) {
   height: 400px; // Match the height of the other cards
}

.pillar-card:nth-of-type(2) svg {
   height: auto;
}

.pillar-text-container {
   padding: 24px;
   display: flex;
   flex-direction: column;
   z-index: 1;
}

.pillar-text-container h1 {
   color: $dark-blue;

   font-family: Thunder;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin: 0px 0px 8px 0px;
}

.pillar-text-container p {
   color: $black;

   font-family: Manrope;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0px;
}

#inform-pillar {
   height: 575px;
   width: 140px;
}

.arrow-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   margin-bottom: 80px;
}

.arrow {
   display: flex;
   width: 40px;
   height: 40px;
   padding: 8px;
   justify-content: center;
   align-items: center;
   gap: 10px;

   background-color: $orange;
   border-radius: 20px;
   border: none;
}

.arrow:disabled {
   background-color: lighten($orange, 20%);
   cursor: not-allowed;
}

/* Desktop Styles */
@media (min-width: 1024px) {
   .pillar-title-container p {
      font-size: 24px;
   }

   .pillar-text-container {
      position: relative;
   }

   .pillar-text-container p {
      max-width: 60%;
      opacity: 0;
      height: 0;
      overflow: hidden;
      margin: 0;
   }

   .pillar-card.active p {
      display: block;
      font-size: 20px;
   }

   .pillar-text-container h1 {
      font-size: 3.5em;
      position: relative;
      margin: 0 0 8px 0;
   }

   .pillar-carousel {
      overflow-x: hidden;
      align-items: flex-end;
      height: 600px;
      flex-wrap: nowrap; /* Ensure items don't wrap */
   }

   .pillar-title-container h1 {
      font-size: 64px;
   }

   .pillar-card {
      min-width: 0;
      flex: 0 0 auto;
      width: var(--inactive-width); /* Default width for inactive pillars */
      overflow-y: hidden;
      position: relative;
   }

   .pillar-card.active {
      width: var(--active-width); /* Width when active */
   }

   /* Set specific widths for each card */
   .pillar-card:nth-of-type(1) {
      height: 100%;
   }

   .pillar-card:nth-of-type(2) {
      height: 85%;
   }

   .pillar-card:nth-of-type(3) {
      height: 70%;
   }

   /* Adjust SVG positioning */
   .pillar-card svg {
      position: absolute;
      top: 20%;
      right: 0;
      bottom: 0;
      transform-origin: bottom center;
   }
}
