@font-face {
   font-family: Thunder;
   src: url(/assets/fonts/Thunder-VF.ttf);
}

@font-face {
   font-family: Manrope;
   src: url(/assets/fonts/Manrope-VariableFont_wght.ttf);
}

$light-blue: #59b0c4;
$dark-blue: #00657c;
$orange: #ff5740;
$sandy: #ecece2;
$black: #1c1c1c;
$font-color: #fbfaf7;
$font-family: 'Thunder';
